.user-quick-view {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  z-index: 1000;
  background-color: #eee;
  box-shadow:0 0px 50px 20px rgba(10,10,10,.4);
  overflow: scroll;
  .menu {
    padding-top: 60px;
    padding-left: 10px;
  }

  .navbar {
    position: fixed;
    top:0;
    width: 100%;
  }
}